 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>SIT back & BLOG</h1>
                        <hr class="small">
                        <span class="subheading">Forget About All , JUST BLOG</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<%= bootstrap_flash %>
	<h2 class="hlink"><%= link_to 'New Post', new_article_path %></h2>
<div id="bg">
  <div class="container">
    
    <div class="container contmargtop">
    
    <div class="row">
         <!-- Blog article Content Column -->
         <div class="col-lg-8">
     <% @articles.each do |article| %>
         <!-- Blog article -->
         <!-- Title -->
         <h4 class="hlink" style="font-size: 45.5px;">
             <%= link_to article.title, article %>
         </h4>
         <!-- Date/Time -->
         <p>
             <span class="glyphicon glyphicon-time"></span>
         </p>
        
         <!-- Author -->
         <p>
         By:<strong> <%= article.user.username %></strong>
         </p>
         <hr>
         <!-- articleed Comments -->
         <!-- Comment -->
     <% end %>
         <%= link_to "New article", new_article_path, class: "btn btn-default btn-xs" %>
         </div>
        
        
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
         <div class="well">
             <h4>Recent articles</h4>
             <% @lastarticles.each do |p| %>
                 <small>Created by: <%= p.user.username %></small><br />
                 <strong class="plink"><%= link_to p.title, p %></strong>
                 <p><%= truncate(p.body) %></p>
                 <hr />
             <% end %>
         </div>
        </div>
    </div>
    <%= will_paginate @articles %>
    <br>
    </div>
  </div>	
</div>	